body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

body,
.title,
.list,
.li-div {
  display: flex;
}

.todo-list {
  width: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgb(148, 148, 148);
}

.title {
  border-bottom: 1px solid rgb(196, 196, 196);
  width: 100%;
  height: 30px;
  justify-content: space-between;
}

.title p {
  padding-left: 10px;
  font-size: 20px;
  margin: 1px;
}

.input-section {
  height: 35px;
  width: 100%;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.todo-input {
  width: 90%;
  height: 90%;
  border: transparent;
  padding-left: 10px;
  font-style: italic;
}

.lists {
  border-bottom: 1px solid rgb(196, 196, 196);
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.list {
  justify-content: space-between;
  margin-bottom: 15px;
}

.list:hover {
  background-color: #edac1f;
}

.list:hover .desc {
  background-color: #edac1f;
}

.list p {
  margin: 1px;
}

#btn {
  background-color: lightgrey;
  border: transparent;
  height: 30px;
  width: 100%;
}

.draggable {
  cursor: move;
}

.line {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.fa {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.area {
  background: bisque;
  background: linear-gradient(to left, rgb(212, 203, 192), bisque);
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  background-color: #1b6d69;
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
